package ${packageName}.mapper;

import java.util.List;
import me.zrxjava.common.base.CommonMapper;
import ${packageName}.entity.${ClassName};

/**
 * ${functionName}Mapper接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends CommonMapper<${ClassName}> {
}
