package ${packageName}.transfer;

import me.zrxjava.common.base.BaseTransfer;
import ${packageName}.dto.${ClassName}Dto;
import ${packageName}.vo.${ClassName}Vo;
import ${packageName}.entity.${ClassName};
import org.mapstruct.Mapper;
import org.mapstruct.ReportingPolicy;

/**
 * ${functionName}转换器
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper(componentModel = "spring",unmappedTargetPolicy = ReportingPolicy.IGNORE)
public interface ${ClassName}Transfer extends BaseTransfer<${ClassName}Dto, ${ClassName}, ${ClassName}Vo> {
}
