export const tableOption = {
  index: true,
  indexLabel: "序号",
  dialogDrag: true,
  align: "center",
  stripe: true,
  searchMenuSpan: 6,
  column: [
#foreach ($column in $columns)
	  {
          type: "$column.htmlType",
          label: "$column.columnComment",
          prop: "$column.javaField",
        #if($column.isQuery == '1')
          search:true,
        #end
        #if($column.isInsert == '0')
          addDisplay:false,
        #end
        #if($column.isEdit == '0')
          editDisplay:false,
        #end
        #if($column.isList == '0')
          hide:true,
        #end
        #if($column.isRequired == '1')
          rules: [{
            required: true,
            message: "请输入$column.columnComment",
            trigger: "blur"
          }],
        #end
    }#if($foreach.hasNext),#end
#end
  ]
}
